// vim: set ft=json ff=unix:
{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "modules": false
  },
  "extends": [
    "airbnb-base",
    "./index.js",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
