// vim: set ft=json ff=unix:
{
  "extends": [
    "airbnb-base",
    "./index.js"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "modules": false
  }
}
